@font-face {
    font-family: 'Inika';
    src: url('/fonts/Inika.woff2') format('woff2'),
        url('/fonts/Inika.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        url('/fonts/NotoSansJP-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Inika', 'Noto Sans JP', sans-serif;
    color: #8B7969;
}

.header {
    background: #ffffff;
    border:1px solid #E0DFDE;
}

.header__inner {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    /* 左右の余白を自動で設定し、中央揃えにする */
    padding: 20px;
    background-color: #FFFFFF;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    font-size: 25px;
    color: #8B7969;
    font-weight: 500;
}

.logout__button {
    margin-left: auto;
}

.logout__button-submit {
    width: 80px;
    height: 30px;
    background: #F0F0F0;
    color: #D9C6B5;
    border: 1px solid #D9C685;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 70%;
    border: 1px solid red;
}

.thanks__heading {
    margin-bottom: 40px;
    text-align: center;
    border:1px solid red;
}

h2 {
    font-weight: 400;
}

.form {
    border: 2px solid rgb(92, 0, 178);
}

.admin__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 2px solid rgb(15, 218, 0);
}


.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.pagination a,
.pagination span {
    display: flex;
    font-size: 16px;
    padding: 2px 10px;
    /* ボタンのサイズ調整 */
    border: 1px solid #E0DFDE;
    /* 外枠 */
    text-decoration: none;
    color: #7a614d;
    /* ボタンの文字色 */
    background-color: white;
}

.pagination a:hover {
    background-color: #f0e6db;
    /* ホバー時の背景色 */
    color: #7a614d;
}

.pagination a.disabled {
    pointer-events: none;
    color: #281f1f;
    /* 無効化されたボタンの色 */
}

.pagination .page-item.active .page-link {  /*選択中のページ*/
    background-color: #8B7969;
    border-color: #8B7969;
    color: white;
}

/*モーダル_詳細ボタン*/
.btn-info {
    background-color: #F4F4F44D;
    /* 背景色 */
    color: #D9C6B5;
    /* 文字色 */
    padding: 4px 15px;
    /* パディング */
    border:1px solid #D9C6B599 ;
    /* 枠線なし */
    cursor: pointer;
    /* カーソル変更 */
    border-radius: 0;
}

.btn-info:hover {
    color:#ffffff;
    background-color: #8B7969;
    /* ホバー時の背景色 */
}

.modal-body {
    font-family: 'Inika', 'Noto Sans JP', sans-serif;
    padding:0px 40px;
    }
/* テーブル全体のフォント指定 */
.modal-body .table {
    color: #7a614d;
}

/* 日本語部のみ太字に */
.modal-body th {
    width: 30%;
    font-weight: 600;
}

.modal-body .table {
    border-collapse: collapse;
}

.modal-body .table th,
.modal-body .table td {
    border: none;
}

/*モーダルウィンドウの幅*/
.modal-dialog {
    max-width: 800px;
}

/*「X」ボタン*/
.modal-header .close {
    color: #8B7969;
    border-radius: 50%;
    border: 1px solid #8B7969;
    padding: 2px 8px;
    font-weight: 100;
    margin:6px 8px;
    position: relative;
}

.modal-header .close span {
    position: relative;
    top: -1px;
}

.modal-header{
    border: none;
}

.modal-footer {
    border: none;
    display: flex;
    justify-content: center;
}
.modal-footer .btn-secondary {
    border-radius: 0;
    /* 削除ボタンの角を丸めない */
    background-color: #BA370D;
    padding: 8px 18px;
    margin-bottom: 40px;
    border: none;
}

.modal-content {
    border-radius: 0;
    /* モーダルウィンドウの角を丸めない */
}