@font-face {
    font-family: 'Inika';
    src: url('/fonts/Inika.woff2') format('woff2'),
        url('/fonts/Inika.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        url('/fonts/NotoSansJP-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Inika', 'Noto Sans JP', sans-serif;
    color: #8B7969;
}

.header {
    background: #ffffff;
    border:1px solid #E0DFDE;
}

.header__inner {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    /* 左右の余白を自動で設定し、中央揃えにする */
    padding: 20px;
    background-color: #FFFFFF;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    font-size: 25px;
    color: #8B7969;
    font-weight: 500;
}

.logout__button {
    margin-left: auto;
}

.logout__button-submit {
    width: 80px;
    height: 30px;
    background: #F0F0F0;
    color: #D9C6B5;
    border: 1px solid #D9C685;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 70%;
}

.thanks__heading {
    margin-bottom: 15px;
    text-align: center;
}

.admin__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.admin__group-table {
    display: flex;
    align-items: center;
    border: 1px solid #E0DFDE;
}

tr:last-child td {
    margin: 0;
    padding-bottom: 0;
}

.table thead th {  /*contentsテーブルのヘッダー*/
    background-color: #8B7969;
    color: #FFFFFF;
    text-align: center;

}

.table tbody td {  /*contentsテーブルのセル部*/
    background-color: #ffffff;
    color: #8B7969;
    text-align: center;
    vertical-align: middle;

}

.form__search-text-input,
.form__search-select,
.form__search-date-input,
.form__search-button {
    font-family: 'Inika', 'Noto Sans JP', sans-serif;
    color:#8B7969;
    font-size: 14px;
    height: 100%;
}


.form__search {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form__search-select select {
    height:35px;
}

.form__search-text input {
    width:300px;
    background-color: #F4F4F4;
    border: 1px solid #E3DED9;
    /* padding-left: 5px; */
}

select[name="gender"] {
    width:90px;
    padding-left: 10px;
    border: 1px solid #E3DED9;
    background-color: #F4F4F4;
}

select[name="category_id"] {
    background-color: #F4F4F4;
    border: 1px solid #E3DED9;
    text-indent: 20px;  /* 文字だけを右に寄せる */
    width:250px;
}


.form__search-date-input {
    background-color: #F4F4F4;
    border:1px solid #E3DED9;
    padding-left: 10px;
}

.btn-primary { /* 検索ボタン */
    width: 85px;
    background-color: #82756A;
    font-size:14px;
    color: #ffffff;
    height:35px;
    padding: 7px 10px;
    border:none;
    border-radius: 0;
}

.btn-secondary {
    width:85px;
    background-color: #D9C6B5;
    font-size: 14px;
    color: #ffffff;
    height: 35px;
    margin-left: 10px;
    border-radius: 0;
    border:1px solid #D9C6B5;
}

.btn-tertiary {
    width: 120px;
    background-color: #E1DBD6;
    font-size: 14px;
    color: #8B7969;
    height: 32px;
    margin: 30px 0 20px;
    border-radius: 0;
}

.btn-tertiary:hover {
    background-color: #E1DBD6;
    font-size: 14px;
    color: #8B7969;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.pagination a,
.pagination span {
    display: flex;
    font-size: 16px;
    padding: 2px 10px;
    /* ボタンのサイズ調整 */
    border: 1px solid #E0DFDE;
    /* 外枠 */
    text-decoration: none;
    color: #7a614d;
    /* ボタンの文字色 */
    background-color: white;
}

.pagination a:hover {
    background-color: #f0e6db;
    /* ホバー時の背景色 */
    color: #7a614d;
}

.pagination a.disabled {
    pointer-events: none;
    color: #281f1f;
    /* 無効化されたボタンの色 */
}

.pagination .page-item.active .page-link {  /*選択中のページ*/
    background-color: #8B7969;
    border-color: #8B7969;
    color: white;
}

/*モーダル_詳細ボタン*/
.btn-info {
    background-color: #F4F4F44D;
    color: #D9C6B5;
    padding: 4px 15px;
    border:1px solid #D9C6B599 ;
    cursor: pointer;
    border-radius: 0;
}

.btn-info:hover {
    background-color: #F4F4F44D;
    color: #D9C6B5;
    border: 1px solid #D9C6B599;
}

.btn-info:active {
    background-color: #F4F4F44D;
    color: #D9C6B5;
    border: 1px solid #D9C6B599;
}

.modal-body {
    display:flex;
    font-family: 'Inika', 'Noto Sans JP', sans-serif;
    padding: 0 60px;
    border:none;
    }

.modal-body__attribute {
    width:90%;
    font-weight: 600;
}

.modal-body__attribute p,
.modal-body__content p {
    margin: 40px 0;
    /* 上下の余白を調整 */
    font-family: 'Inika', 'Noto Sans JP', sans-serif;
}

/*モーダルウィンドウの幅*/
.modal-dialog {
    max-width: 950px;
}

/*「X」ボタン*/
.modal-header .close {
    color: #8B7969;
    border-radius: 50%;
    border: 1px solid #8B7969;
    padding: 2px 8px;
    font-weight: 100;
    margin:6px 8px;
    position: relative;
}

.modal-header .close span {
    position: relative;
    top: -2px; /*〇部の微調整*/
}

.modal-header{
    border: none;
    height: 50px;
}

.modal-footer {
    border: none;
    display: flex;
    justify-content: center;
}
.modal-footer .btn-secondary {
    border-radius: 0;
    /* 削除ボタンの角を丸めない */
    background-color: #BA370D;
    padding: 8px 18px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: none;
}

.modal-content {
    border-radius: 0;
    /* モーダルウィンドウの角を丸めない */
}