@font-face {
    font-family: 'Inika';
    src: url('/fonts/Inika.woff2') format('woff2'),
        url('/fonts/Inika.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        url('/fonts/NotoSansJP-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Inika', 'Noto Sans JP', sans-serif;
    color: #8b6a69;
}


.header {
    border: 1px solid #E0DFDE;
}

.header__inner {
    text-align: center;
    margin: 0 auto;
    /* 左右の余白を自動で設定し、中央揃えにする */
    padding: 15px;
    max-width: 1230px;
}

.header__logo {
    text-decoration: none;
    font-size: 24px;
    color: #8B7969;
    font-weight: 500;
}

h2 {
    font-weight: 500;
    text-align: center;
    margin: 30px;
}

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 30%;
    color:#fff;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
    background-color: #BAA899;
}

.confirm-table__text {
    padding: 17px 30px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
    color:#8b6a69;
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    width: 80px;
    height: 35px;
    border: none;
    background: #8b6a69;
    color: #fff;
    cursor: pointer;
    margin:15px;
}

.form__button-back {
    width: 80px;
    height: 35px;
    border: none;
    background-color: #fff;
    color: #8b6a69;
    cursor: pointer;
    text-decoration: underline;
}