@font-face {
    font-family: 'Inika';
    src: url('/fonts/Inika.woff2') format('woff2'),
        url('/fonts/Inika.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        url('/fonts/NotoSansJP-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Inika', 'Noto Sans JP', sans-serif;
    color: #8b6a69;
}

.header {
    border: 1px solid #E0DFDE;
}

.header__inner {
    text-align: center;
    margin: 0 auto;  /* 左右の余白を自動で設定し、中央揃えにする */
    padding: 15px;
    max-width: 1230px;
}

.header__logo {
    text-decoration: none;
    font-size: 24px;
    color: #8B7969;
    font-weight: 500;
}

.contact-form__content {
    margin: 0 auto;
    padding: 10px;
    max-width: 1230px;
}

.tell-wrapper {
        display: flex;
}

.error-message {
    display:flex;
    text-align: left;
    color: red;
    font-size: 12px;
    min-height: 18px;
    /* エラーメッセージの高さを確保 */
    align-items: center;
}

s.contact-form__heading {
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-weight: 500;
    text-align: center;
    margin: 30px;
}

.form {
    margin: 0 auto;
    width: 75%;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__group-title {
    display: flex;
    align-items: center;
    width: 30%;
    height:35px;
}

.form__group-content {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-bottom: 20px;
}

.first-item {   /*nameに対するgap*/
    gap: 20px;
}

.fourth-item { /*tellに対するgap*/
    gap: 7px;
}


.form__label--required {
    padding: 4px 6px;
    border-radius: 3px;
    color:red;
    font-weight: 200;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text,
.form__input--textarea {
    flex: 1;
}


.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    color:#8B7969;
    background-color: #F4F4F4;
    font-family: 'Inika', 'Noto Sans JP', sans-serif;

}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #8B7969;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked {
    background-color: #8B7969;
}

.form__input--text input {
    height: 30px;
}

input[type="tel"] {
    font-family: 'Inika', 'Noto Sans JP', sans-serif;
}


.form__input--textarea textarea {
    height: 80px;
}

.form__radio-container {
    display:flex;  /* 横並びにする */
}

.form__radio-option{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 20px;
}

.form__radio-option label {
    margin-left: 10px;
}

.form__input--text select {
    color: #ff2b05;
    padding: 5px 12px;
    width: 60%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 100;
    background-color: #F4F4F4;
    -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8'%3E%3Cpath fill='%23BEB1A6' d='M0 0l7 8 7-8z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 0.7em top 50%;
            background-size: 1.3em auto;
            padding-right: 1.5em;
}

textarea {
    resize: none;
}

.form__button {
    margin-top: 45px;
    display: flex;
    justify-content: center
}

.form__button-submit {
    width: 120px;
    height: 35px;
    line-height: 35px;    /* ボタンの高さと同じ */
    border: none;
    border-radius: 1px;
    background: #82756A;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;

}